[submodule "apps/stress-ng"]
	path = apps/stress-ng
	url = https://github.com/ColinIanKing/stress-ng.git

[submodule "qemu-master"]
	path = qemu-master
	url = https://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@github.com/asd123www/qemu-master.git
[submodule "apps/wrk"]
	path = apps/wrk
	url = https://github.com/wg/wrk.git
