[submodule "apps/stress-ng"]
	path = apps/stress-ng
	url = https://github.com/ColinIanKing/stress-ng.git

[submodule "qemu-master"]
	path = qemu-master
	url = https://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@github.com/asd123www/qemu-master.git
[submodule "apps/wrk"]
	path = apps/wrk
	url = https://github.com/wg/wrk.git
[submodule "apps/ycsb"]
	path = apps/ycsb
	url = https://github.com/brianfrankcooper/YCSB.git
[submodule "apps/gapbs/gapbs"]
	path = apps/gapbs/gapbs
	url = https://github.com/sbeamer/gapbs
[submodule "linux-FMSync"]
	path = linux-FMSync
	url = https://github.com/asd123www/linux-FMSync.git
